@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
    font-family: "Lora", serif;
}

.btn_common {
  @apply px-6 py-3 bg-gradient-to-r from-orange-500 to-yellow-500 text-white 
         rounded-lg font-semibold shadow-md hover:shadow-xl 
         transform hover:scale-105 transition duration-300 ease-in-out;
}
.btn_common1 {
  @apply px-3 py-2 bg-gradient-to-r from-orange-500 to-yellow-500 text-white 
         rounded-lg font-semibold shadow-md hover:shadow-xl 
         transform hover:scale-105 transition duration-300 ease-in-out;
}

.active{
    @apply bg-gradient-to-r from-orange-500 to-yellow-500 text-transparent bg-clip-text
}


